
.DS_Store

libs/libmetis.dylib

libs/libcolamd.2.8.0.a

libs/libccolamd.2.8.0.a

libs/libamd.2.3.0.a

libs/libamd.2.3.0.a

libs/libcamd.2.3.0.a

libs/libcamd.2.3.0.a

libs/libcholmod.2.0.0.a

libs/libcholmod.2.0.0.a

OOCholmod.xcodeproj/project.pbxproj

OOCholmod.xcodeproj/project.xcworkspace/contents.xcworkspacedata

OOCholmod.xcodeproj/project.xcworkspace/xcuserdata/asny.xcuserdatad/UserInterfaceState.xcuserstate

OOCholmod.xcodeproj/xcuserdata/asny.xcuserdatad/xcschemes/OOCholmod.xcscheme

OOCholmod.xcodeproj/xcuserdata/asny.xcuserdatad/xcschemes/xcschememanagement.plist

OOCholmod.xcodeproj/xcuserdata/asny.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

OOCholmod.xcodeproj/xcuserdata/asny.xcuserdatad/xcschemes/Test_OOCholmod.xcscheme
