
.DS_Store

libs/libmetis.dylib

libs/libcolamd.2.8.0.a

libs/libccolamd.2.8.0.a

libs/libamd.2.3.0.a

libs/libamd.2.3.0.a

libs/libcamd.2.3.0.a

libs/libcamd.2.3.0.a

libs/libcholmod.2.0.0.a

libs/libcholmod.2.0.0.a
